body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}

/*-------search bar---------*/
#search-btn{
  padding: 0.5em;
  margin-left: -3px;
  width: 40%;
  color: white;
  background-color: brown;
  border: 1px solid brown;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  letter-spacing: 3px;
}

.search-field {
  border: none;
  border-radius: 50px;
  padding: 5px;
  outline: none;
}
.search-field:hover {
  outline: none;
  border: none;
  
}
.search-box {
  border: 1px solid brown !important;
  width: 281px;
  border-radius: 20px;
  margin: auto;
  margin-top: 45px;
  border-right: 10px;
}
.search-button {
  padding: 10px 50px;
  border-radius: 25px;
  margin-left: 20px;
  background-color: #81c2c7 !important;
  
}

/*-------products--------- */
#all-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  text-align: center;
  width: 100%;
  margin: auto;
  margin-top: 60px;
  align-items: center;
  justify-content: center;
  /* background-color: #f3f1f1; */
} 
  
.single-product {
  padding: 10px;
  transition: 0.6s;
  /* border: 1px solid #a5a5a5; */
  text-align: center;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

}
  
.single-product:hover {
  background-color: #fceeee !important;
  box-shadow: 4px 4px 7px #3c3d44;
  border-radius: 10px;
  border: none;
}
.product-image {
  width: 150px;
  height: 150px;
}

/*-------card---------- */
.cart {
  width: 350px;
  padding: 10px;
  box-shadow: 10px 10px 20px gray;
  border-radius: 5px;
  margin-right: 20px;
   margin-top: 60px;
  position: fixed;
}
.cart-main {
  padding-right: 30px;
}



@media only screen and (max-width: 768px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .cart {
    width: 300px;
    padding: 10px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 5px;
    margin-right: 30px;
    position: fixed;
  }
  .cart-main {
    padding-right: 10px;
  }
}
@media only screen and (max-width: 468px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
